$body: #000;
$silver-dark: #1B1F23;
$silver-darklight: #2C2F33;
$silver-light: #E4E5E5;
$silver: #ACADAF;
$like: #9CC2E4;
$celebrate: #A9E091;
$support: #C9BDD5;
$love: #EFB9AB;
$lamp: #F1C585;
$funny: #95D8E1;
$trs: all 200ms ease-in-out;